@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: #e5e5e5;
}

.text-Blur {
  color: #6070ff;
}

.back-code {
  background: #ebebff;
  font-weight: 400;
}

.nav-bar-Menu {
  background: #fff;
}

.nav-bar-Menu .navbar-brand {
  color: #6070ff;
  font-weight: 700;
  font-size: 17px;
}

.nav-bar-Menu button {
  border: none;
}

.nav-bar-Menu ul a {
  font-weight: 500;
  font-size: 15px;
  color: #2b384e;
}

.ShiwingSide {
  background-color: #fff;
  border-bottom-left-radius: 159px;
}

.ShiwingSide .container {
  background-image: url("../images/desktop_bg.png");
  background-size: contain;
  background-position: center 48px;
  background-repeat: no-repeat;
  height: 844px;
}

.ShiwingSide .showcase-text {
  max-width: 920px;
  padding: 11.9rem 2.9rem;
}

.MasoloKozeri li a {
  color: #505f79;
  margin-right: 10px;
}

.AboutMore {
  border-top-right-radius: 160px;
  background-color: white;
  padding: 9.9rem 0;
}


.footSide {
  background: #fff;
}

.footer {
  background-image: url("../images/contact-bg.png");
  border-top-left-radius: 180px;
  background-color: #4353e0;
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 90%;
  height: 846px;
}

.footer .footer-text {
  padding-top: 141px;
}
